body {
  padding: 0;
  margin: 0;
  background-color: darkcyan;
}

.mainPageContianer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.gridArea {
  background-color: darkolivegreen;
  width: 90vh;
  height: 90vh;
  max-width: 90vmin;
  max-height: 90vmin;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.gridTile {
  background-color: peru;
  outline: .05vh solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.fullMap {
  background-color: darkolivegreen;
  width: 90vh;
  height: 90vh;
  max-width: 90vmin;
  max-height: 90vmin;

  display: grid;
}

img {
  width: 75%;
  height: 75%;
}


/* .mainArea > div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: peru;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: .5vmin solid;
  border-right: .5vmin solid;

  outline: .5vmin solid;
}

.player{
  position: absolute;
  width: 5vh;
  height: 5vh;
  max-width: 5vmin;
  max-height: 5vmin;
}

.gridTile[data-active="true"]
{
  background-color: darkcyan;
} */
