body {
  padding: 0;
  margin: 0;
}

.contentContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: darkslategray;
  justify-content: center;
  align-items: center;
}

.mainArea {
  background-color: darkcyan;
  display: flex;
  flex-wrap: wrap;
  width: 90vh;
  height: 90vh;
  max-width: 90vmin;
  max-height: 90vmin;

  border-top: .5vmin solid;
  border-left: .5vmin solid;
}

.mainArea > div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: peru;
  width: 10vh;
  height: 10vh;
  max-width: 10vmin;
  max-height: 10vmin;

  border-bottom: .5vmin solid;
  border-right: .5vmin solid;
}

.mainArea > img{
  position: absolute;
  width: 5vh;
  height: 5vh;
  max-width: 5vmin;
  max-height: 5vmin;
}